
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --dark-black: #101010;
  --light-gray: #878787;
  --plain-white: #FFFFFF;
  --theme-color: #FE8C00;
}



