
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 100vw;
    height: 150vh;
    margin: 0;
    background: var(--light-gray);
}


.forgotPassword {
    display: flex;
    justify-content: end;
    margin: 24px 0;
}

.passwordText {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.form {
    margin-top: 32px;
}